
// light theme
$--light-color-main: white;
$--light-color-primary: black;
$--light-color-bg: white;

// dark theme
$--dark-color-main: rgba(0, 0, 0, 1);
$--dark-color-primary: white;
$--dark-color-bg: rgba(33, 33, 33, 1);
$--dark-color-bg-sub: rgba(66, 66, 66, 1);